
<div class='osakana-contents'>
  <h2 class='title'>釣果情報</h2>
  <ul class='osakana-lists'>
    <% if @osakanas.present? %>
      <% @osakanas.each do |osakana| %>
        <li class='list'>
          <%= link_to osakana_path(osakana.id) do%>
            <%= link_to osakana.user.nickname + "さんの釣果", user_path(osakana.user.id) %>
            <div class='osakana-image-content'>
              <%= link_to (image_tag osakana.image, class: 'osakana-image'), osakana_path(osakana.id)%>
            </div>
            <div class='osakana-info'>
              <h3 class='osakana-name'>
                <%= "種類:"+ osakana.fish %>
              </h3>
            <div class='item-spot'>
              <%= "場所:" + osakana.spot.title %>
            </div>
            
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li class='list'>
        <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "osakana-img" %>
          <div class='osakana-info'>
            <h3 class='osakana-fish'>
              釣果を投稿してね！
            </h3>
            <div class='osakana-spot'>
              <span>marunouti</span>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
